@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 96%;
    --foreground: 224 71% 4%;
    --card: 210 40% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 210 40% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 207 82% 67%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 92%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 40% 92%;
    --muted-foreground: 224 20% 46%;
    --accent: 123 41% 75%;
    --accent-foreground: 125 30% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 207 82% 67%;
    --chart-1: 207 82% 67%;
    --chart-2: 123 41% 75%;
    --chart-3: 27 87% 67%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 82% 67%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 123 41% 75%;
    --accent-foreground: 125 30% 25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207 82% 67%;
    --chart-1: 207 82% 67%;
    --chart-2: 123 41% 75%;
    --chart-3: 27 87% 67%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
